# Mac OS background noise files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node modules
node_modules

# Node logs
npm-debug.log

# WebStorm
.idea

# Bower components
bower_components

# Ignore public dependencies because I use bower & gulp to deploy them
public/fonts
public/js
public/css/**/*.css

# Ignore user uploads
public/uploads
