<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-btn pull-left">
            <a href="#/user/!USER_ID/website" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Cancel</span>
            </a>
        </div>

        <div class="navbar-brand">
            <span>Edit Website</span>
        </div>

        <div class="navbar-btn pull-right">
            <a href="#/user/!USER_ID/website" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-check"></span>
                <span class="text">Done</span>
            </a>
        </div>

    </div>
</nav>


<div class="container-fluid with-navbar-fixed-top with-navbar-fixed-bottom">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="website_name">Website Name</label>
                    <input type="text" class="form-control" name="website_name" placeholder="Name" tabindex="1" value="Lorem ipsum"/>
                </div>
                <div class="form-group">
                    <label for="website_description">Website Description</label>
                    <textarea name="website_description" cols="3" rows="10" class="form-control" placeholder="Description" tabindex="2">
Dolor sit amet, consectetur adipiscing elit. Integer quis tortor in dolor consectetur fermentum. Etiam vel finibus ante. Sed venenatis in justo vestibulum varius. Vivamus mi sem, imperdiet sit amet mauris a, pellentesque feugiat nisi. Praesent vel blandit erat. Aenean lobortis nisi sed felis varius venenatis. Maecenas eros ex, ornare ut laoreet nec, congue vel enim. Curabitur ante urna, commodo a facilisis et, fringilla lobortis massa. Nunc risus sapien, lobortis ac rhoncus sed, pulvinar sit amet erat. Duis suscipit scelerisque aliquam. Nam erat lectus, scelerisque non risus in, sagittis finibus ex. Proin id lorem nec tortor condimentum accumsan nec rhoncus ipsum. Suspendisse sagittis, libero ac venenatis gravida, dolor augue laoreet felis, auctor faucibus mauris libero in tellus.
                    </textarea>
                </div>
                <div class="form-group">
                    <a href="#/user/!USER_ID/website" class="form-control btn btn-danger btn-block">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="profile.html" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
