<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-btn pull-left">
            <a href="#/user/{{model.userId}}/website" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Cancel</span>
            </a>
        </div>

        <div class="navbar-brand">
            <span>Edit Website</span>
        </div>

        <div class="navbar-btn pull-right">
            <button form="website_editor" role="submit" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-check"></span>
                <span class="text">Done</span>
            </button>
        </div>

    </div>
</nav>


<div class="container-fluid with-navbar-fixed-top with-navbar-fixed-bottom">
    <div class="row push-down-1" ng-show="model.alert || model.success" ng-include="'views/shared/alerts.html'"></div>
    <div class="row">
        <div class="col-xs-12">
            <form name="website_editor" id="website_editor" ng-submit="model.updateWebsite(website_editor, model.website)" novalidate>
                <div class="form-group">
                    <label for="website_name">Website Name</label>
                    <input ng-model="model.website.name" type="text" class="form-control" name="website_name" placeholder="Name" tabindex="1" required/>
                    <div ng-show="website_editor.$submitted && website_editor.website_name.$error.required" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle fa-lg"></span>
                        <span>Name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="website_description">Website Description</label>
                    <textarea ng-model="model.website.description" name="website_description" cols="3" rows="10" class="form-control" placeholder="Description" tabindex="2">
                    </textarea>
                </div>
                <div class="form-group">
                    <button class="hide" role="submit">Done</button>
                    <a ng-click="model.deleteWebsite()" class="form-control btn btn-danger btn-block">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="#/user/{{model.userId}}" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
