body.with-navbar-fixed-top {
    padding-top: $navbar-height + $navbar-margin-bottom;
}

body.with-navbar-fixed-bottom {
    padding-bottom: $navbar-height;
}

body::after {
  content: "";
  /* Background pattern from subtlepatterns.com */
  background: url(img/escheresque.png) repeat;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
