.form-control {
    @include box-shadow(none);

    border-color: $input-border;
    @include transition(border-color ease-in-out .3s);

    &:not(.btn) {
        border-width: 0px;
        border-bottom-width: $form-border-width;
    }

    &:focus {
        @include box-shadow(none);
    }
}

.form-control + .alert {
    margin-top: 1em;
}

// override to outline a textarea fully
textarea.form-control {
    border-width: 1px !important;
    border-bottom-width: $form-border-width !important;
}

.ta-hidden-input {
    display: none;
}

.ta-editor.form-control {
    height: auto;
}
