// Creates a centered navbar title (must come after all other floating elements)
.navbar-title {
  float: none;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  font-size: $font-size-large;
  line-height: $line-height-computed * 0.9;
  height: $navbar-height;
  text-align: center;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  > img {
    display: block;
  }
}

.navbar-inverse {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;

  .navbar-title {
    color: $navbar-inverse-brand-color;
    &:hover,
    &:focus {
      color: $navbar-inverse-brand-hover-color;
      background-color: $navbar-inverse-brand-hover-bg;
    }
  }
}

.with-navbar-fixed-top {
    padding-top: $navbar-height + $navbar-margin-bottom;
}

.with-navbar-fixed-bottom {
    padding-bottom: $navbar-height + $navbar-margin-bottom;
}
