<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-btn pull-left">
            <a href="#/user/!USER_ID/website/!WEBSITE_ID/page" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Cancel</span>
            </a>
        </div>

        <div class="navbar-brand">
            <span>Edit Page</span>
        </div>

        <div class="navbar-btn pull-right">
            <a href="#/user/!USER_ID/website/!WEBSITE_ID/page" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-check"></span>
                <span class="text">Done</span>
            </a>
        </div>

    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="page_name">Name</label>
                    <input type="text" class="form-control" name="page_name" placeholder="Page name" value="Blog Post" tabindex="1" />
                </div>
                <div class="form-group">
                    <label for="page_title">Title</label>
                    <input type="text" class="form-control" name="page_title" placeholder="Page title" tabindex="2" />
                </div>
                <div class="form-group">
                    <a href="#/user/!USER_ID/website/!WEBSITE_ID/page" class="form-control btn btn-block btn-danger">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="#/user/!USER_ID" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
