<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-btn pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Cancel</span>
            </a>
        </div>

        <div class="navbar-brand">
            <span>New Page</span>
        </div>

        <div class="navbar-btn pull-right">
            <button form="page_editor" role="submit" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-check"></span>
                <span class="text">Done</span>
            </button>
        </div>

    </div>
</nav>


<div class="container-fluid with-navbar-fixed-top with-navbar-fixed-bottom">
    <div class="row push-down-1" ng-show="model.alert || model.success" ng-include="'views/shared/alerts.html'"></div>
    <div class="row">
        <div class="col-xs-12">
            <form novalidate name="page_editor" id="page_editor" ng-submit="model.createPage(page_editor, page)">
                <div class="form-group">
                    <label for="page_name">Name</label>
                    <input ng-model="page.name" type="text" class="form-control" name="page_name" placeholder="Page name" tabindex="1" required />
                    <div ng-show="page_editor.$submitted && page_editor.page_name.$error.required" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle fa-lg"></span>
                        <span>Name is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="page_title">Title</label>
                    <input type="text" class="form-control" name="page_title" placeholder="Page title" tabindex="2" />
                </div>
                <button class="hide" role="submit">Done</button>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="#/user/{{model.userId}}" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
