<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn pull-left">
            <a href="#/user/!USER_ID/website" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Back</span>
            </a>
        </div>

        <div class="navbar-brand pull-left">
            <span>Pages</span>
        </div>

        <div class="navbar-btn pull-right">
            <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/new" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-plus"></span>
                <span class="text">New</span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid with-navbar-fixed-top with-navbar-fixed-bottom">
    <div class="row">
        <div class="col-xs-12">

            <div class="list-group-menu">

                <div ng-repeat="page in model.pages" class="list-group-item">
                    <div class="list-group-control">
                        <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}" class="btn btn-link btn-icon-responsive">
                            <span class="fa fa-cog"></span>
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="list-group-label">
                        <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget" class="btn btn-link">{{page.name}}</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="#/user/!USER_ID" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
