<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn pull-left">
            <a href="#/user/!USER_ID/website" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Back</span>
            </a>
        </div>

        <div class="navbar-brand pull-left">
            <span>Pages</span>
        </div>

        <div class="navbar-btn pull-right">
            <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/new" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-plus"></span>
                <span class="text">New</span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid with-navbar-fixed-top with-navbar-fixed-bottom">
    <div class="row">
        <div class="col-xs-12">

            <div class="list-group-menu">
                <div class="list-group-item">
                    <div class="list-group-control">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID" class="btn btn-link btn-icon-responsive">
                            <span class="fa fa-cog"></span>
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="list-group-label">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID/widget" class="btn btn-link">Blog Post</a>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-control">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID" class="btn btn-link btn-icon-responsive">
                            <span class="fa fa-cog"></span>
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="list-group-label">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID/widget" class="btn btn-link">Blogs</a>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-control">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID" class="btn btn-link btn-icon-responsive">
                            <span class="fa fa-cog"></span>
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="list-group-label">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID/widget" class="btn btn-link">Home</a>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-control">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID" class="btn btn-link btn-icon-responsive">
                            <span class="fa fa-cog"></span>
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="list-group-label">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID/widget" class="btn btn-link">About</a>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-control">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID" class="btn btn-link btn-icon-responsive">
                            <span class="fa fa-cog"></span>
                            <span class="text">Edit</span>
                        </a>
                    </div>
                    <div class="list-group-label">
                        <a href="#/user/!USER_ID/website/!WEBSITE_ID/page/!PAGE_ID/widget" class="btn btn-link">Contact Us</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="#/user/!USER_ID" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
