<div class="col-xs-12" ng-show="model.alert">
    <div class="alert alert-danger">
        <span class="fa fa-exclamation-circle fa-lg"></span>
        <span>Please correct the following errors:</span>
        <ul>
            <li ng-repeat="alert in model.alert">
                {{alert}}
            </li>
        </ul>
    </div>
</div>
<div class="col-xs-12" ng-show="model.success">
    <div class="alert alert-success">
        <span class="fa fa-check-circle fa-lg"></span>
        <span>{{model.success}}</span>
    </div>
</div>
