<div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{thread.title}}</h3>
        </div>
        <div class="col-xs-12">
            <p>
                Posted to
                <a href="{{thread.community}}">{{thread.community}}</a>
                 <span am-time-ago="{{thread.creationDate}}"></span> by
                <a href="{{thread.author}}">{{thread.author}}</a>
            </p>
        </div>
        <div class="col-xs-12">
            <p>
                {{thread.body | limitTo:300}}
                <span ng-if="thread.body.length >= 300">...</span>
            </p>
        </div>
    </div>
</div>
