<div class="container-fluid">
    <div class="row push-down-1" ng-show="model.alert || model.success" ng-include="'views/shared/alerts.html'"></div>
    <div class="row">
        <div class="col-xs-12">
            <form name="login" id="login" ng-submit="model.login(login, user)" novalidate>
                <div class="form-group">
                    <h2>Login</h2>
                </div>
                <div class="form-group">
                    <input ng-model="user.username" type="text" class="form-control" name="username" placeholder="Username" tabindex="1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required />
                    <div ng-show="login.$submitted && login.username.$error.required" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle fa-lg"></span>
                        <span>Username is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-model="user.password" type="password" class="form-control" name="password" placeholder="Password" tabindex="2" required />
                    <div ng-show="login.$submitted && login.password.$error.required" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle fa-lg"></span>
                        <span>Password is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <button role="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                    <a href="#/register" class="btn btn-success btn-block btn-lg">Register</a>
                    <a href="/auth/facebook" class="btn btn-facebook btn-block btn-lg">
                        <span class="fa fa-facebook"></span>
                        Facebook
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
