<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <h2>Login</h2>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" tabindex="1" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" tabindex="2" />
                </div>
                <div class="form-group">
                    <a href="#/user/!USER_ID" class="btn btn-primary btn-block btn-lg">Login</a>
                    <a href="#/register" class="btn btn-success btn-block btn-lg">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>
