<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" ng-if="model.alert">
            <div class="alert alert-danger">
                {{model.alert}}
            </div>
        </div>
        <div class="col-xs-12">
            <form name="register">
                <div class="form-group">
                    <h2>Register</h2>
                </div>
                <div class="form-group">
                    <input ng-model="user.username" type="text" class="form-control" name="username" placeholder="Username" tabindex="1" required />
                    <div ng-show="register.username.$touched && register.username.$error.required" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle fa-lg"></span>
                        <span>Username is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-model="user.password" type="password" class="form-control" name="password" placeholder="Password" tabindex="2" required />
                    <div ng-show="register.password.$touched && register.password.$error.required" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle fa-lg"></span>
                        <span>Password is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <input ng-model="user.verifyPassword" type="password" class="form-control" name="verify_password" placeholder="Verify password" tabindex="3" required />
                    <div ng-show="register.verifyPassword.$touched && register.verifyPassword.$error.required" class="alert alert-danger">
                        <span class="fa fa-exclamation-circle fa-lg"></span>
                        <span>Verify password is required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <a ng-click="model.register(user)" class="btn btn-primary btn-block btn-lg">Register</a>
                    <a href="#/login" class="btn btn-danger btn-block btn-lg">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
