<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-btn pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Cancel</span>
            </a>
        </div>

        <div class="navbar-brand">
            <span>Widget Edit</span>
        </div>

        <div class="navbar-btn pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-check"></span>
                <span class="text">Done</span>
            </a>
        </div>

    </div>
</nav>


<div class="container-fluid with-navbar-fixed-top with-navbar-fixed-bottom">
    <div class="row">
        <div class="col-xs-12" ng-if="model.alert">
            <div class="alert alert-danger">
                {{model.alert}}
            </div>
        </div>
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="widget_text">Text</label>
                    <input ng-model="model.widget.text" type="text" class="form-control" name="widget_text" placeholder="Widget text" tabindex="2" />
                </div>
                <div class="form-group">
                    <label for="widget_rows">Rows</label>
                    <input ng-model="model.widget.rows" type="number" class="form-control" name="widget_rows" tabindex="3" />
                </div>
                <div class="form-group">
                    <label for="widget_formatted">Formatted</label>
                    <input ng-model="model.widget.formatted" type="checkbox" class="form-control" name="widget_formatted" tabindex="4" />
                </div>
                <div class="form-group">
                    <a ng-click="model.deleteWidget()" class="form-control btn btn-block btn-danger">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="#/user/{{model.userId}}" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
