<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-btn pull-left">
            <a href="widget-list.html" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Cancel</span>
            </a>
        </div>

        <div class="navbar-brand">
            <span>Widget Edit</span>
        </div>

        <div class="navbar-btn pull-right">
            <a href="widget-list.html" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-check"></span>
                <span class="text">Done</span>
            </a>
        </div>

    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="form-group">
                    <label for="widget_name">Name</label>
                    <input type="text" class="form-control" name="widget_name" placeholder="Widget name" tabindex="1" />
                </div>
                <div class="form-group">
                    <label for="widget_text">Text</label>
                    <input type="text" class="form-control" name="widget_text" placeholder="Widget title" value="Lorem ipsum" tabindex="2" />
                </div>
                <div class="form-group">
                    <label for="widget_size">Size</label>
                    <select name="widget_size" class="form-control" tabindex="3">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="form-group">
                    <a href="widget-list.html" class="form-control btn btn-block btn-danger">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="profile.html" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
