<div class="form-group">
    <label for="widget_text">Text</label>
    <input ng-model="model.widget.text" type="text" class="form-control" name="widget_text" placeholder="Widget title" tabindex="2" />
</div>
<div class="form-group">
    <label for="widget_url">URL</label>
    <input ng-model="model.widget.url" type="text" class="form-control" name="widget_url" placeholder="URL" tabindex="3" />
</div>
<div class="form-group">
    <label for="widget_width">Width</label>
    <input ng-model="model.widget.width" type="text" class="form-control" name="widget_width" placeholder="Width" tabindex="4" />
</div>

<div class="form-group">
    <label for="widget_file">Upload</label>
    <input form="api_upload_form" type="file" name="file" class="form-control">
    <input form="api_upload_form" name="width" value="{{model.widget.width}}" class="hide"/>
    <input form="api_upload_form" name="widgetId" value="{{model.widget._id}}" class="hide"/>
    <input form="api_upload_form" name="pageId" value="{{model.pageId}}" class="hide"/>
    <input form="api_upload_form" name="websiteId" value="{{model.websiteId}}" class="hide"/>
    <input form="api_upload_form" name="userId" value="{{model.userId}}" class="hide"/>
</div>
<div class="form-group">
    <button form="api_upload_form" type="submit" class="form-control btn btn-block btn-primary">Upload Image</button>
</div>

<div class="form-group">
    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}/flickr" class="form-control btn btn-block btn-default">Search</a>
</div>
