<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-btn pull-left">
            <a href="widget-list.html" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-chevron-left"></span>
                <span class="text">Back</span>
            </a>
        </div>

        <div class="navbar-brand pull-left">
            <span>Choose Widget</span>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

            <div class="list-group-menu">
                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="widget-heading.html" class="btn btn-link">Header</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="#" class="btn btn-link">Label</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="#" class="btn btn-link">HTML</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="#" class="btn btn-link">Text Input</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="#" class="btn btn-link">Link</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="#" class="btn btn-link">Button</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="widget-image.html" class="btn btn-link">Image</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="widget-youtube.html" class="btn btn-link">YouTube</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="#" class="btn btn-link">Data Table</a>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-label">
                        <a href="#" class="btn btn-link">Repeater</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-btn pull-right">
            <a href="profile.html" class="btn btn-link btn-icon-responsive">
                <span class="fa fa-user"></span>
                <span class="text">Profile</span>
            </a>
        </div>
    </div>
</nav>
